<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edo-cuenta" href="/tabs/edo-cuenta">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Edo. Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aclaraciones" href="/tabs/aclaraciones">
      <ion-icon name="warning"></ion-icon>
      <ion-label>Aclaraciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
