<ion-content >

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-img
      src="./../../../assets/Logo-1-2.png"
      alt="logo-2g"
    ></ion-img>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Hola {{ cliente.nombre }} {{ cliente.apellido_paterno}} {{cliente.apellido_materno}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Saldo al día: $ {{ recibo.total_pagar | number: '1.2-2'}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item  lines="none">
          <ion-label>Fecha Limite de pago:</ion-label>
        </ion-item>
        <ion-item lines="none" class="fecha">
          <ion-label>{{ recibo.fecha_limite_pago | date: 'dd/MM/yyyy' }}</ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>

    <ion-row *ngIf="show">
      <ion-col size="12" >
        <ion-button expand="block" (click)="pagar()">Pagar Saldo</ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button expand="block" (click)="abrirPDF()">Descargar Recibo</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div #brickContainer></div>
        <div id="mercadopago-card-form"></div>
      </ion-col>
    </ion-row>

    <ion-modal >
      <ion-header>
        <ion-toolbar>
          <ion-title>Pago con Mercado Pago</ion-title>
          <ion-buttons slot="end">
            <ion-button >Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>

      </ion-content>
    </ion-modal>

</ion-content>

<ion-loading trigger="open-loading" message="Loading..." [duration]="3000" spinner="circles"></ion-loading>
